<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/uos.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1995-1998</h4>
                                    <h4 class="subheading">University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">BMus (Hons) Studied music at University of Sheffield under George Nicholson and Adrian Moore.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/westhighlandway.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2004</h4>
                                    <h4 class="subheading">My first composition job</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Completed a Diploma in Music for the Media (Thinkspace) with my first job, composing for Grindelwald Productions' "Along The West Highland Way". I have since written and produced music for 20 of their DVD titles, a lot of which have been turned into TV series "Footloose in Europe" which has been broadcast worldwide.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/march29th.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010</h4>
                                    <h4 class="subheading">Short films</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">My first short film was Daniel Chadwick's "March 29th", a 10 minute horror film produced in his final year at MMU. I've since gone on to score several short films in a variety of genres (see credits).</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/apollo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2013</h4>
                                    <h4 class="subheading">Studio upgrade</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">New equipment brought my studio bang up to date, with a UA Apollo Quad Thunderbolt interface, Pro Tools 11, a new MacBook Pro and a range of the latest virtual instruments from NI and EWQL.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <a href="#contact"><img class="img-circle img-responsive" src="img/about/envelope.png" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2015</h4>
                                    <h4 class="subheading">I'm available!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Contact me now to discuss how I can help tell your story through creative and original music.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>