<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="about-column">
                        <p class="text-muted">Barnaby Smith is a freelance film, TV and media composer based in the UK. His work includes music for social media campaigns, promotional videos, documentary TV and film scores. He recently composed the music for the National Citizen Service's promotional video <a href="https://www.youtube.com/watch?v=dTswxY-XLn8" target="_blank">Say Yes</a> featuring spoken word artist Suli Breaks. Other credits include the TV series <a href="http://www.amazon.co.uk/gp/product/B005SV1FFK/ref=as_li_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=B005SV1FFK&linkCode=as2&tag=67616c6f6f70682e636f6d-21&linkId=L3BQ325HPRLJSZEO" target="_blank">Footloose In Europe</a> and <a href="https://www.youtube.com/watch?v=z6ipcwntkU4" target="_blank">Sunrise</a> in collaboration with Sareni.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="about-column">
                        <p class="text-muted">Barnaby was born and raised in Cheshire, where he still lives and works. He specialised in music composition at the University of Sheffield, graduating with a BMus (Hons) degree, and then went on to complete a diploma in Music for the Media with <a href="http://thinkspaceeducation.com/" target="_blank">Thinkspace</a>.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="about-column">
                        <p class="text-muted">Barnaby is a multi-instrumentalist, working with an eclectic range of instruments including violin, guitars, mandolin, ukulele, piano, bass guitar, drums and ektara. His recorded compositions feature live instruments wherever possible. Barnaby's studio is built around a MacBook Pro with a UA Apollo Quad Thunderbolt interface and a range of the latest software and sample libraries from Avid, NI, EWQL and Propellerheads.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>