<!-- About Section -->
    <section id="about" class="bg-light-gray" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="about-column">
                        <p class="text-muted">Barnaby Smith is a freelance film, TV and media composer based in the UK. His work includes branded content, advertising, documentary TV and short films. He recently composed the music for Sony Xperia GB’s <a href="https://www.youtube.com/playlist?list=PLrWwX6uj1m_-QsJ0K7i5pFQzgQDyylkYk" target="_blank">Brownlee Brothers X Moments</a> and Greenpeace UK’s anti-fracking protest, <a href="https://secure.greenpeace.org.uk/page/s/frack-free-bake-off" target="_blank">The Frack Free Bake Off</a> featuring Emma and Sophie Thompson. Other credits include the TV series <a href="http://www.amazon.co.uk/gp/product/B005SV1FFK/ref=as_li_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=B005SV1FFK&linkCode=as2&tag=67616c6f6f70682e636f6d-21&linkId=L3BQ325HPRLJSZEO" target="_blank">Footloose In Europe</a> and sitcom pilot Praze & Beeble.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="about-column">
                        <p class="text-muted">Barnaby was born and raised in Cheshire, where he still lives and works. He specialised in music composition at the University of Sheffield, graduating with a BMus (Hons) degree, and then went on to complete a diploma in Music for the Media with <a href="http://thinkspaceeducation.com/" target="_blank">Thinkspace</a>.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="about-column">
                        <p class="text-muted">Barnaby is a multi-instrumentalist, working with an eclectic range of instruments including violin, guitars, mandolin, ukulele, piano, bass guitar, drums and ektara. One client says "He has consistently composed and performed extremely good music for our films”. Another, "Excellent work, I'd definitely use him again!”.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>