<!-- Clients Aside -->
    <aside class="clients">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                <h3 class="aside-subheading text-muted">Some clients I've worked with...</h3>
              </div>
          </div>
      </div>
        <div class="flex-container">
                <div class="flex-item">
                    <a href="https://www.sony.co.uk" target="_blank">
                        <img width="130" height="130" src="img/logos/sony-logo-130x130.jpg" class="img-responsive img-centered" alt="1">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="https://greenpeace.org.uk" target="_blank">
                        <img width="130" height="130" src="img/logos/greenpeace-world-logo-130x130.jpg" class="img-responsive img-centered" alt="2">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="http://www.greygoose.com/uk/en/lda.html" target="_blank">
                        <img width="130" height="130" src="img/logos/grey-goose-logo-black_130x130.jpg" class="img-responsive img-centered" alt="3">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="http://www.ncsyes.co.uk" target="_blank">
                        <img width="130" height="130" src="img/logos/ncs-logo-130x130.jpg" class="img-responsive img-centered" alt="4">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="https://www.liverpoolsu.com" target="_blank">
                        <img width="130" height="130" src="img/logos/liverpoolsu-logo-130x130.jpg" class="img-responsive img-centered" alt="5">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="http://www.footloose.tv" target="_blank">
                        <img width="130" height="130" src="img/logos/footloosetv-logo-130x130.jpg" class="img-responsive img-centered" alt="6">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="http://milkwood.tv" target="_blank">
                        <img width="130" height="130" src="img/logos/milkwood-logo-130x130.jpg" class="img-responsive img-centered" alt="7">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="http://www.cc-lab.com" target="_blank">
                        <img width="130" height="130" src="img/logos/cc-lab-logo-130x130.jpg" class="img-responsive img-centered" alt="8">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="https://audiojungle.net/?ref=BarnabySmith" target="_blank">
                        <img width="130" height="130" src="img/logos/audiojungle-logo-130x130.jpg" class="img-responsive img-centered" alt="9">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="http://evellindustries.com" target="_blank">
                        <img width="130" height="130" src="img/logos/evell-logo-130x130.jpg" class="img-responsive img-centered" alt="10">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="https://www.fridgeproductions.co.uk" target="_blank">
                        <img width="130" height="130" src="img/logos/fridgeproductions-logo-130x130.jpg" class="img-responsive img-centered" alt="11">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="https://www.sheetmusicplus.com/?aff_id=562449" target="_blank">
                        <img width="130" height="130" src="img/logos/smp-logo-130x130.jpg" class="img-responsive img-centered" alt="12">
                    </a>
                </div>
        </div>
        
    </aside>