<!-- Clients Aside -->
    <aside class="clients">
        <div class="flex-container">
                <div class="flex-item">
                    <a href="#">
                        <img width="130" height="130" src="img/logos/grey-goose-vodka-130x130.jpg" class="img-responsive img-centered" alt="1">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="#">
                        <img width="130" height="130" src="img/logos/sony-logo-130x130.jpg" class="img-responsive img-centered" alt="2">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="#">
                        <img width="130" height="130" src="img/logos/greenpeace-world-logo-130x130.jpg" class="img-responsive img-centered" alt="3">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="#">
                        <img width="130" height="130" src="img/logos/ncs-logo-130x130.jpg" class="img-responsive img-centered" alt="4">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="#">
                        <img width="130" height="130" src="img/logos/liverpoolsu-logo-130x130.jpg" class="img-responsive img-centered" alt="5">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="#">
                        <img width="130" height="130" src="img/logos/milkwood-logo-130x130.jpg" class="img-responsive img-centered" alt="6">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="#">
                        <img width="130" height="130" src="img/logos/evell-logo-130x130.jpg" class="img-responsive img-centered" alt="7">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="#">
                        <img width="130" height="130" src="img/logos/cc-lab-logo-130x130.jpg" class="img-responsive img-centered" alt="8">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="#">
                        <img width="130" height="130" src="img/logos/audiojungle-logo-130x130.jpg" class="img-responsive img-centered" alt="9">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="#">
                        <img width="130" height="130" src="img/logos/pond5-logo-130x130.jpg" class="img-responsive img-centered" alt="10">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="#">
                        <img width="130" height="130" src="img/logos/smp-logo-130x130.jpg" class="img-responsive img-centered" alt="11">
                    </a>
                </div>
                <div class="flex-item">
                    <a href="#">
                        <img width="130" height="130" src="img/logos/footloosetv-logo-130x130.jpg" class="img-responsive img-centered" alt="12">
                    </a>
                </div>
        </div>
        
    </aside>