<!-- Credits Section -->
    <section id="credits" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Credits</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <a href="https://www.youtube.com/watch?v=CvXKS-vZQvc" target="_blank">
                                <img class="img-circle img-responsive" src="img/credits/forbidden_fruit.png" alt="">
                              </a>
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>2015</h4><br>
                                  <h4 class="subheading"><a href="https://www.youtube.com/watch?v=CvXKS-vZQvc" target="_blank">Forbidden Fruit</a></h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Jonathan Hawes.</p>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="timeline-image">
                              <a href="https://www.youtube.com/watch?v=pb8sWPQNnHc" target="_blank">
                                <img class="img-circle img-responsive" src="img/credits/supersaf_tv_credit_logo.png" alt="">
                              </a>
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>2015</h4><br>
                                  <h4 class="subheading"><a href="https://www.youtube.com/watch?v=pb8sWPQNnHc" target="_blank">AskSAF Q&A Episode 9</a></h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">SuperSaf TV.</p>
                              </div>
                          </div>
                      </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="https://www.youtube.com/watch?v=dTswxY-XLn8" target="_blank">
                                  <img class="img-circle img-responsive" src="img/credits/SayYes_SULI_web.jpg" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4><br>
                                    <h4 class="subheading"><a href="https://www.youtube.com/watch?v=dTswxY-XLn8" target="_blank">Say Yes</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">National Citizen Service featuring Suli Breaks.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <a href="https://www.youtube.com/watch?v=HB7fN3H6r5Y" target="_blank">
                                  <img class="img-circle img-responsive" src="img/credits/a_need_to_vent_2.jpg" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4><br>
                                    <h4 class="subheading"><a href="https://www.youtube.com/watch?v=HB7fN3H6r5Y" target="_blank">A Need To Vent</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Needs More Gaffa Tape Productions.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                              <a href="https://www.youtube.com/watch?v=1RbQ4rOu2yY" target="_blank">
                                <img class="img-circle img-responsive" src="img/credits/devins_applicant.jpg" alt="">
                              </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4><br>
                                    <h4 class="subheading"><a href="https://www.youtube.com/watch?v=1RbQ4rOu2yY" target="_blank">Devin's Applicant</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Kevin Thomson.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                              <a href="https://vimeo.com/86895013" target="_blank">
                                <img class="img-circle img-responsive" src="img/credits/you_go_down.jpg" alt="">
                              </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4><br>
                                    <h4 class="subheading"><a href="https://vimeo.com/86895013" target="_blank">You Go Down</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Matt Amison.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                              <a href="http://www.amazon.co.uk/gp/product/B00NUH71M0/ref=as_li_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=B00NUH71M0&linkCode=as2&tag=67616c6f6f70682e636f6d-21&linkId=B2IZJHLK5O5XXEME" target="_blank">
                                <img class="img-circle img-responsive" src="img/credits/footloose_in_italy.jpg" alt="">
                              </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4><br>
                                    <h4 class="subheading"><a href="http://www.amazon.co.uk/gp/product/B00NUH71M0/ref=as_li_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=B00NUH71M0&linkCode=as2&tag=67616c6f6f70682e636f6d-21&linkId=B2IZJHLK5O5XXEME" target="_blank">Footloose In Italy III</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Grindelwald Productions.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                              <a href="http://www.amazon.co.uk/gp/product/B00GUSS5TY/ref=as_li_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=B00GUSS5TY&linkCode=as2&tag=67616c6f6f70682e636f6d-21&linkId=M4QN7AIAVYY376JZ" target="_blank">
                                <img class="img-circle img-responsive" src="img/credits/footloose_in_the_cotswolds.jpg" alt="">
                              </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013</h4><br>
                                    <h4 class="subheading"><a href="http://www.amazon.co.uk/gp/product/B00GUSS5TY/ref=as_li_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=B00GUSS5TY&linkCode=as2&tag=67616c6f6f70682e636f6d-21&linkId=M4QN7AIAVYY376JZ" target="_blank">Footloose In The Cotswolds Pts 1&2</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Grindelwald Productions.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                              <a href="https://www.youtube.com/watch?v=z6ipcwntkU4" target="_blank">
                                <img class="img-circle img-responsive" src="img/credits/sareni_sunrise.jpg" alt="">
                              </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012</h4><br>
                                    <h4 class="subheading"><a href="https://www.youtube.com/watch?v=z6ipcwntkU4" target="_blank">Sunrise</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A collaboration with Indian vocal trio Sareni.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/credits/corporate_video_image.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012</h4><br>
                                    <h4 class="subheading">Healthier By Farr Jingle</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Healthier By Farr.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/credits/corporate_video_image.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011</h4><br>
                                    <h4 class="subheading">Boom TV Jingle</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Boomerang PR.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/credits/corporate_video_image.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011</h4><br>
                                    <h4 class="subheading">Anna Goodson Management Jingle</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Boomerang PR.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                              <a href="http://www.cfv.mmu.ac.uk/olc/film/10418/" target="_blank">
                                <img class="img-circle img-responsive" src="img/credits/short_film_image.jpg" alt="">
                              </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010</h4><br>
                                    <h4 class="subheading"><a href="http://www.cfv.mmu.ac.uk/olc/film/10418/" target="_blank">March 29th</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Daniel Chadwick.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                              <a href="http://www.amazon.co.uk/gp/product/B005SV1FFK/ref=as_li_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=B005SV1FFK&linkCode=as2&tag=67616c6f6f70682e636f6d-21&linkId=L3BQ325HPRLJSZEO" target="_blank">
                                <img class="img-circle img-responsive" src="img/credits/footloose_in_europe.jpg" alt="">
                              </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009</h4><br>
                                    <h4 class="subheading"><a href="http://www.amazon.co.uk/gp/product/B005SV1FFK/ref=as_li_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=B005SV1FFK&linkCode=as2&tag=67616c6f6f70682e636f6d-21&linkId=L3BQ325HPRLJSZEO" target="_blank">Footloose In Europe</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Grindelwald Productions.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>