<!-- Credits Section -->
    <section id="credits" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Credits</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
              </div>
              
            <h4 class="service-heading">2017</h4>
            <p class="text-muted">The Fall (short film) - Alexander Woosey</p>
            <br>
            
            <h4 class="service-heading">2016</h4>
            <p class="text-muted">Brownlee Brothers X Moments - Sony Xperia GB - <a href="https://www.youtube.com/playlist?list=PLrWwX6uj1m_-QsJ0K7i5pFQzgQDyylkYk" target="_blank">WATCH</a></p>
             <p class="text-muted">The Frack Free Bake Off (social media campaign) - Greenpeace UK - <a href="https://secure.greenpeace.org.uk/page/s/frack-free-bake-off" target="_blank">WATCH</a></p>
             <p class="text-muted">Footloose in Italy IV (DVD) - Grindelwald Productions - <a href="https://www.amazon.co.uk/FOOTLOOSE-ITALY-Rimini-Tuscany-Rome/dp/B01LQB2UIQ" target="_blank">BUY</a></p>
             <p class="text-muted">Run (short film) - Johnny Gibbs - <a href="https://vimeo.com/165427224" target="_blank">WATCH</a></p>
             <p class="text-muted">Episode 2.1 :: Ley and the Key of Life (web series) - Creative Monkey Productions - <a href="https://www.youtube.com/watch?v=xBFpK5GA440" target="_blank">WATCH</a></p>
             <p class="text-muted">Praze & Beeble - Episode 1 (pilot) - Space Custard Media</p>
             <p class="text-muted">Corporate Collection (library music) - AudioJungle - <a href="http://audiojungle.net/collections/5682432-corporate?ref=BarnabySmith" target="_blank">LISTEN/BUY</a></p>
             <p class="text-muted">Cinematic Collection (library music) - AudioJungle - <a href="http://audiojungle.net/collections/5682439-cinematic?ref=BarnabySmith" target="_blank">LISTEN/BUY</a></p>
             <p class="text-muted">Sports Collection (library music) - AudioJungle - <a href="http://audiojungle.net/collections/5802488-sports?ref=BarnabySmith" target="_blank">LISTEN/BUY</a></p>
             <br>
             
             <h4 class="service-heading">2015</h4>
             <p class="text-muted">LSU:A Brief History (promo film) - Liverpool Students' Union</p>
             <p class="text-muted">A Classic Tour of Scotland (DVD) - Grindelwald Productions - <a href="https://www.amazon.co.uk/CLASSIC-TOUR-SCOTLAND-Footloose-Special/dp/B015YLUD42/ref=sr_1_1?ie=UTF8&qid=1462978087&sr=8-1&keywords=a+classic+tour+of+scotland" target="_blank">BUY</a></p>
             <p class="text-muted">Forbidden Fruit (short film) - Eagleye Pictures - <a href="https://www.youtube.com/watch?v=CvXKS-vZQvc" target="_blank">WATCH</a></p>
             <p class="text-muted">AskSAF Q&A Episode 9 (web series) - SuperSaf TV - <a href="https://www.youtube.com/watch?v=pb8sWPQNnHc" target="_blank">WATCH</a></p>
             <p class="text-muted">A Need To Vent (short film) - Needs More Gaffa Tape Productions - <a href="https://www.youtube.com/watch?v=HB7fN3H6r5Y" target="_blank">WATCH</a></p>
             <p class="text-muted">Say Yes (social media campaign) - National Citizen Service - <a href="https://www.youtube.com/watch?v=dTswxY-XLn8" target="_blank">WATCH</a></p>
             <br>
             
             <h4 class="service-heading">2014</h4>
             <p class="text-muted">Footloose in Italy III (DVD) - Grindelwald Productions - <a href="https://www.amazon.co.uk/FOOTLOOSE-ITALY-Naples-Sorrento-Amalfi/dp/B00NUH71M0/ref=sr_1_1?ie=UTF8&qid=1462978650&sr=8-1&keywords=footloose+in+italy" target="_blank">BUY</a></p>
             <p class="text-muted">Devin's Applicant (short film) - Kevin Thankachan - <a href="https://www.youtube.com/watch?v=1RbQ4rOu2yY" target="_blank">WATCH</a></p>
             <p class="text-muted">You Go Down (short film) - MJA Films - <a href="https://vimeo.com/86895013" target="_blank">WATCH</a></p>
             <br>
             
             <h4 class="service-heading">2013</h4>
             <p class="text-muted">Footloose in The Cotswolds (DVD) - Grindelwald Productions - <a href="https://www.amazon.co.uk/FOOTLOOSE-COTSWOLDS-Two-disc-set/dp/B00GUSS5TY/ref=sr_1_8?ie=UTF8&qid=1462978990&sr=8-8&keywords=footloose+in" target="_blank">BUY</a></p>
             <p class="text-muted">Footloose in The Austrian Tyrol (DVD) - Grindelwald Productions - <a href="https://www.amazon.co.uk/FOOTLOOSE-AUSTRIAN-TYROL-Debra-Rixon/dp/B00FO7XNZS/ref=sr_1_2?ie=UTF8&qid=1462979038&sr=8-2&keywords=footloose+in" target="_blank">BUY</a></p>
             <br>
             
             <h4 class="service-heading">2012</h4>
             <p class="text-muted">Sunrise (single) - Sareni - <a href="https://itunes.apple.com/gb/album/sunrise-single/id554451157" target="_blank">BUY</a></p>
             <p class="text-muted">Healthier By Farr (jingle) - Healthier By Farr</p>
             <br>
             
             <h4 class="service-heading">2011</h4>
             <p class="text-muted">Boom TV (jingle) - Boomerang PR</p>
             <p class="text-muted">Anna Goodson Management (jingle) - Boomerang PR</p>
             <br>
             
             <h4 class="service-heading">2010</h4>
             <p class="text-muted">March 29th (short film) - Daniel Chadwick</p>
             <br>
             
             <h4 class="service-heading">2009</h4>
             <p class="text-muted">Footloose in Europe (TV series) - Grindelwald Productions - <a href="http://www.footloose.tv" target="_blank">WATCH/BUY</a></p>

                    </ul>
                </div>
            </div>
        </div>
    </section>