<!-- Team Section -->
    <section id="credits" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Credits</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="credit-column">
                        <p class="text-muted">International Film Music Competition Entry - Zurich Film Festival (2014)</p>
                        <p class="text-muted">Devin's Applicant - Short film (2014)</p>
                        <p class="text-muted">You Go Down - Short film (2014)</p>
                        <p class="text-muted">Footloose in the Cotswolds parts 1 &amp; 2 - DVD (2013)</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="credit-column">
                        <p class="text-muted">Footloose in the Italian Lakes - DVD (2013)</p>
                        <p class="text-muted">Sunrise - Collaboration with Sareni (2012)</p>
                        <p class="text-muted">March 29th - Short film (2010)</p>
                        <p class="text-muted">Footloose in Europe - TV series (2009)</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="credit-column">
                        <p class="text-muted">Boom TV - Corporate video</p>
                        <p class="text-muted">Anna Goodson Management - Corporate video</p>
                    </div>
                </div>
            </div>
        </div>
    </section>