<!-- News Section -->
    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">News</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Twitter</h4>
                    <a class="twitter-timeline" href="https://twitter.com/BarnSmithMusic"
                       data-widget-id="544980295309869056"
                       data-tweet-limit="3">Tweets by @BarnSmithMusic</a>
                    <script type="text/javascript">
                        window.twttr = (function (d, s, id) {
                            var t, js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id; js.src= "https://platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js, fjs);
                            return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
                        }(document, "script", "twitter-wjs"));
                    </script>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-newspaper-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Latest News</h4>
                    
                    <p class="text-muted">Short film <a href="https://vimeo.com/165427224" target="_blank">Run</a> by Johnny Gibbs that I scored last year only went and got a special mention at the 2016 I Filmmaker International Film Festival in Marbella!!</p>
                    <p class="text-muted">Music for another short film completed - The Fall by Alexander Woosey. More details to come once details of the film's release are announced.</p>
                    <p class="text-muted">Bookmark my AudioJungle <a href="http://audiojungle.net/user/barnabysmith/portfolio/?ref=BarnabySmith" target="_blank">portfolio</a> to keep up to date with my latest tracks available to license for your project.</p>
                   <p class="text-muted">Grindelwald Productions have released their latest DVD (scored by you know who!) - <a href="https://www.amazon.co.uk/FOOTLOOSE-ITALY-Rimini-Tuscany-Rome/dp/B01LQB2UIQ" target="_blank">Footloose in Italy IV</a>.</p>

                    
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-credit-card fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Sales</h4>
                    <p class="text-muted">Library Music</p>
                    <p class="text-muted">Find the perfect track for your next project from my <a href="http://audiojungle.net/user/barnabysmith/portfolio?ref=BarnabySmith" target="_blank">AudioJungle portfolio</a>.</p>
                    <p class="text-muted">**COMING SOON**</p>
                    <p class="text-muted">You will soon be able to buy scores and parts to a range of my music including Footloose in Europe favourites "Scottish Romance" and "Finnish Echoes", and a range of pieces for solo piano.</p>
                </div>
            </div>
        </div>
    </section>