<!-- News Section -->
    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">News</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Twitter</h4>
                    <a class="twitter-timeline" href="https://twitter.com/BarnSmithMusic"
                       data-widget-id="544980295309869056"
                       data-tweet-limit="3">Tweets by @BarnSmithMusic</a>
                    <script type="text/javascript">
                        window.twttr = (function (d, s, id) {
                            var t, js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id; js.src= "https://platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js, fjs);
                            return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
                        }(document, "script", "twitter-wjs"));
                    </script>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-newspaper-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Latest News</h4>
                    <p class="text-muted">Emma & Sophie Thompson's <a href="https://secure.greenpeace.org.uk/page/s/frack-free-bake-off" target="_blank">FRACK FREE BAKE OFF challenge</a> is causing quite a stir (excuse the pun!). Can't wait to see how my music fits with the full episode - available to watch from noon tomorrow, 28th April 2016!!</p>
                    <p class="text-muted">Bookmark my AudioJungle <a href="http://audiojungle.net/user/barnabysmith/portfolio/?ref=BarnabySmith" target="_blank">portfolio</a> to keep up to date with my latest tracks available to license for your project.</p>
                    <p class="text-muted">Check out my first track on pond5.com - <a href="http://www.pond5.com/stock-music/61240267/vibrant-confidence.html" target="_blank">Vibrant Confidence</a></p>
                    <p class="text-muted"><a href="http://audiojungle.net/?ref=BarnabySmith" target="_blank">AudioJungle</a>, Envato's music library, has just accepted my first submission. Details of what tracks are available and how you can license them will be coming very soon!</p>
                    <p class="text-muted">A busy October has seen the completion of two projects - <a href="http://www.grindelwald.co.uk" target="_blank">Grindelwald Productions'</a> A Classic Tour of Scotland out soon on DVD, and Liverpool Students' Union - A Brief History, a promotional film by Alex Stevenson. I've got some exciting projects on the horizon too - more details about those coming soon!</p>
                     <p class="text-muted">Another project complete - music for <a href="https://www.youtube.com/watch?v=CvXKS-vZQvc" target="_blank">Forbidden Fruit</a>.</p>
                   

                    
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-credit-card fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Sales</h4>
                    <p class="text-muted">Library Music</p>
                    <p class="text-muted">Find the perfect track for your next project from my <a href="http://audiojungle.net/user/barnabysmith/portfolio?ref=BarnabySmith" target="_blank">AudioJungle portfolio</a>.</p>
                    <p class="text-muted">**COMING SOON**</p>
                    <p class="text-muted">You will soon be able to buy scores and parts to a range of my music including Footloose in Europe favourites "Scottish Romance" and "Finnish Echoes", and a range of pieces for solo piano.</p>
                </div>
            </div>
        </div>
    </section>