<!-- News Section -->
    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">News</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Twitter</h4>
                    <a class="twitter-timeline" href="https://twitter.com/BarnSmithMusic"
                       data-widget-id="544980295309869056"
                       data-tweet-limit="3">Tweets by @BarnSmithMusic</a>
                    <script type="text/javascript">
                        window.twttr = (function (d, s, id) {
                            var t, js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id; js.src= "https://platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js, fjs);
                            return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
                        }(document, "script", "twitter-wjs"));
                    </script>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-newspaper-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Latest News</h4>
                     <p class="text-muted">Another project complete - music for <a href="https://www.youtube.com/watch?v=CvXKS-vZQvc">Forbidden Fruit</a>.</p>
                     <p class="text-muted">My latest credit is now online - the intro music to episode 9 of SuperSaf TV's <a href="https://www.youtube.com/watch?v=pb8sWPQNnHc">AskSAF Q&A</a>.</p>
                    <p class="text-muted">You can now watch my entry to the <a href="https://vimeo.com/130894553">Marvin Hamlisch 2015 Film Scoring Contest</a>.</p>
                    <p class="text-muted">Here's the latest short film I've scored - <a href="https://www.youtube.com/watch?v=HB7fN3H6r5Y">A Need To Vent</a> by Needs More Gaffa Tape Productions/Andrew Mack/Jack Mansfield/Kevin Thomson.</p>
                    <p class="text-muted">Just uploaded my entry to the Marvin Hamlisch Film Scoring Competition - fingers crossed!!</p>
                    <p class="text-muted">I recently composed the music for <a href="https://www.youtube.com/watch?v=dTswxY-XLn8">Say Yes</a>, the National Citizen Service's collaboration with spoken word artist Suli Breaks.</p>
                   

                    
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-credit-card fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Sales</h4>
                    <p class="text-muted">**COMING SOON**</p>
                    <p class="text-muted">You will soon be able to buy scores and parts to a range of my music including Footloose in Europe favourites "Scottish Romance" and "Finnish Echoes", as well as some of my more recent piano pieces.</p>
                </div>
            </div>
        </div>
    </section>