<!-- Sales Section -->
    <section id="sales" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sales</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-volume-up fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Library Music</h4>
                                        
                    <p class="text-muted">Find the perfect track for your next project from my <a href="http://audiojungle.net/user/barnabysmith/portfolio?ref=BarnabySmith" target="_blank"><img src="img/logos/audiojungle-light-background.png" height="20" border="10"></a> portfolio</p>
                    
                    <div>
                      <div id="player_div"></div>
                      <script src="//d2mdw063ttlqtq.cloudfront.net/audioplayer/player.js"></script>
                      <script type="text/javascript">
                        var client = new EnvatoPlayerClient({
                          id: "player_div", 
                          volume: 25, 
                          autoStart: false, 
                          referralId: "BarnabySmith", 
                          limit: 9,
                          width: 450, 
                          backColor: "#FFFFFF", 
                          foreColor: "#FFD216", 
                          source: "new-files-from-user:BarnabySmith,audiojungle"  
                        });
                      </script>
                      </div>
                    
                </div>
                
                
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-music fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Sheet Music</h4>
                    
                     <p class="text-muted">View my full range of sheet music available on <a href="https://www.sheetmusicplus.com/publishers/barnaby-j-smith-sheet-music/3006735?aff_id=562449" target="_blank">sheetmusicplus.com</a></p>
                                                          
                    <div class="product_2492957_html" style="border:0px black solid;margin:10px;">
                      <table border="0" cellpadding="0" cellspacing="4" width="97%">
                        <tbody>
                          <tr valign="top">
                           <td align="center" width="90">
                             <a id="product-image-link" href="https://www.sheetmusicplus.com/title/thinking-out-loud-string-quartet/20436181?aff_id=562449&utm_medium=plg1"><img id="product-cover-image" src="https://assets.sheetmusicplus.com/items/20436181/cover_images/cover-tiny_file.png" alt="Cover tiny file" /></a>
                             <a id="look-inside-link" href="https://www.sheetmusicplus.com/title/thinking-out-loud-string-quartet/20436181?aff_id=562449&utm_medium=plg1" target="_blank">look inside</a>
                           </td>
                            <td class="product_2492957">
                              <a id="product-link" href="https://www.sheetmusicplus.com/title/thinking-out-loud-string-quartet/20436181?aff_id=562449&utm_medium=plg1" target="_blank">Thinking Out Loud - String Quartet</a>
                              By Ed Sheeran. Arranged by Barnaby Smith. Score, Set of Parts. 14 pages. Published by Barnaby J Smith (H0.214497-262072).
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    
                    <div class="product_2502829_html" style="border:0px black solid;margin:10px;">
                      <table border="0" cellpadding="0" cellspacing="4" width="97%">
                        <tbody>
                          <tr valign="top">
                           <td align="center" width="90">
                             <a id="product-image-link" href="https://www.sheetmusicplus.com/title/finnish-echoes/20441424?aff_id=562449&utm_medium=plg1"><img id="product-cover-image" src="https://assets.sheetmusicplus.com/items/20441424/cover_images/cover-tiny_file.png" alt="Cover tiny file" /></a>
                             <a id="look-inside-link" href="https://www.sheetmusicplus.com/title/finnish-echoes/20441424?aff_id=562449&utm_medium=plg1" target="_blank">look inside</a>
                           </td>
                            <td class="product_2502829">
                              <a id="product-link" href="https://www.sheetmusicplus.com/title/finnish-echoes/20441424?aff_id=562449&utm_medium=plg1" target="_blank">Finnish Echoes</a>
                              Composed by Barnaby Smith. 21st Century, Contemporary Classical, Modern, TV, World. Individual Part, Solo Part. 4 pages. Published by Barnaby J Smith (S0.217623).
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="product_2504023_html" style="border:0px black solid;margin:10px;">
                      <table border="0" cellpadding="0" cellspacing="4" width="97%">
                        <tbody>
                          <tr valign="top">
                           <td align="center" width="90">
                             <a id="product-image-link" href="https://www.sheetmusicplus.com/title/vicissitude-no-1/20442098?aff_id=562449&utm_medium=plg1"><img id="product-cover-image" src="https://assets.sheetmusicplus.com/items/20442098/cover_images/cover-tiny_file.png" alt="Cover tiny file" /></a>
                             <a id="look-inside-link" href="https://www.sheetmusicplus.com/title/vicissitude-no-1/20442098?aff_id=562449&utm_medium=plg1" target="_blank">look inside</a>
                           </td>
                            <td class="product_2504023">
                              <a id="product-link" href="https://www.sheetmusicplus.com/title/vicissitude-no-1/20442098?aff_id=562449&utm_medium=plg1" target="_blank">Vicissitude No 1</a>
                              Composed by Barnaby Smith. 21st Century, Contemporary Classical, Minimalism, Neo-Classical. Individual Part, Solo Part. 3 pages. Published by Barnaby J Smith (S0.217945).
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="product_2504029_html" style="border:0px black solid;margin:10px;">
                      <table border="0" cellpadding="0" cellspacing="4" width="97%">
                        <tbody>
                          <tr valign="top">
                           <td align="center" width="90">
                             <a id="product-image-link" href="https://www.sheetmusicplus.com/title/vicissitude-no-2/20442099?aff_id=562449&utm_medium=plg1"><img id="product-cover-image" src="http://assets.sheetmusicplus.com/items/20442099/cover_images/cover-tiny_file.png" alt="Cover tiny file" /></a>
                             <a id="look-inside-link" href="https://www.sheetmusicplus.com/title/vicissitude-no-2/20442099?aff_id=562449&utm_medium=plg1" target="_blank">look inside</a>
                           </td>
                            <td class="product_2504029">
                              <a id="product-link" href="https://www.sheetmusicplus.com/title/vicissitude-no-2/20442099?aff_id=562449&utm_medium=plg1" target="_blank">Vicissitude No 2</a>
                              Composed by Barnaby Smith. 21st Century, Contemporary Classical, Minimalism. Individual Part, Solo Part. 7 pages. Published by Barnaby J Smith (S0.217947).
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    
                    
                   
                    
                </div>
            </div>
        </div>
    </section>
    